In [55]:
import pandas as pd

df = pd.read_csv('jogos_del.txt', names=['Cod'])

print('SLPM_216.90' in df['Cod'].unique())
df

False

            Cod
0   SLUS_213.15
1   SLUS_210.90
2   SLUS_216.90
3   SLUS_205.95
4   SLUS_204.35
..          ...
88  PBPX_131.01
89  SLUS_207.60
90  SLES_519.24
91  SLES_556.35
92  SLUS_205.45

[93 rows x 1 columns]